/*
* Compliments to: https://codepen.io/giana/pen/yYBpVY?editors=0100#0
*/

// region Button Animations

@mixin animateButtonBorder($borderColor, $borderWidth, $animation, $animationSpeed) {

  background: none;
  border: 0;
  box-sizing: border-box;
  box-shadow: inset 0 0 0 2px $borderColor;
  position: relative;
  vertical-align: middle;

  &::before,
  &::after {

    box-sizing: border-box;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;

  }

  @if $animation == "draw" {

    transition: color $animationSpeed;

    &::before,
    &::after {

      border: $borderWidth solid transparent;
      width: 0;
      height: 0;

    }

    &::before {

      top: 0;
      left: 0;

    }

    &::after {

      bottom: 0;
      right: 0;

    }

    &:hover {

      color: $borderColor;

    }

    &:hover::before,
    &:hover::after {

      width: 100%;
      height: 100%;

    }

    &:hover::before {

      border-top-color: $borderColor;
      border-right-color: $borderColor;
      transition: width $animationSpeed ease-out,
      height $animationSpeed ease-out $animationSpeed;

    }

    &:hover::after {

      border-bottom-color: $borderColor;
      border-left-color: $borderColor;
      transition: border-color 0s ease-out #{$animationSpeed * 2},
      width $animationSpeed ease-out #{$animationSpeed * 2},
      height $animationSpeed ease-out #{$animationSpeed * 3};

    }

  }

  @if $animation == "draw meet" {

    // start draw class

    transition: color $animationSpeed;

    &::before,
    &::after {

      border: $borderWidth solid transparent;
      width: 0;
      height: 0;

    }

    &::before {

      top: 0;
      left: 0;

    }

    &::after {

      bottom: 0;
      right: 0;

    }

    &:hover {

      color: $borderColor;

    }

    &:hover::before,
    &:hover::after {

      width: 100%;
      height: 100%;

    }

    &:hover::before {

      border-top-color: $borderColor;
      border-right-color: $borderColor;
      transition: width $animationSpeed ease-out,
      height $animationSpeed ease-out $animationSpeed;

    }

    &:hover::after {

      border-bottom-color: $borderColor;
      border-left-color: $borderColor;
      transition: border-color 0s ease-out #{$animationSpeed * 2},
      width $animationSpeed ease-out #{$animationSpeed * 2},
      height $animationSpeed ease-out #{$animationSpeed * 3};

    }

    // end draw class

    &:hover {

      color: $borderColor;

    }

    &::after {

      top: 0;
      left: 0;

    }

    &:hover::before {

      border-top-color: $borderColor;
      border-right-color: $borderColor;

    }

    &:hover::after {

      border-bottom-color: $borderColor;
      border-left-color: $borderColor;
      transition: height $animationSpeed ease-out,
      width $animationSpeed ease-out $animationSpeed;

    }

  }

  @if $animation == "center" {

    &:hover {

      color: $borderColor;

    }

    &::before,
    &::after {

      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      transform-origin: center;

    }

    &::before {

      border-top: 2px solid $borderColor;
      border-bottom: 2px solid $borderColor;
      transform: scale3d(0, 1, 1);

    }

    &::after {

      border-left: 2px solid $borderColor;
      border-right: 2px solid $borderColor;
      transform: scale3d(1, 0, 1);

    }

    &:hover::before,
    &:hover::after {

      transform: scale3d(1, 1, 1);
      transition: transform 0.5s;

    }

  }

  // Note: Make button square for the following animations to look good

  @if $animation == "spin" {

    width: 5em;
    height: 5em;
    padding: 0;

    &:hover {

      color: $borderColor;

    }

    &::before,
    &::after {

      top: 0;
      left: 0;

    }

    &::before {

      border: $borderWidth solid transparent;

    }

    &:hover::before {

      border-top-color: $borderColor;
      border-right-color: $borderColor;
      border-bottom-color: $borderColor;
      transition: border-top-color 0.15s linear,
      border-right-color 0.15s linear 0.10s,
      border-bottom-color 0.15s linear 0.20s;

    }

    &::after {

      border: 0 solid transparent;

    }

    &:hover::after {

      border-top: 2px solid $borderColor;
      border-left-width: 2px;
      border-right-width: 2px;
      transform: rotate(270deg);
      transition: transform 0.4s linear 0s,
      border-left-width 0s linear 0.35s;

    }

  }

  @if $animation == "spin circle" {

    // start spin class

    width: 5em;
    height: 5em;
    padding: 0;

    &:hover {

      color: $borderColor;

    }

    &::before,
    &::after {

      top: 0;
      left: 0;

    }

    &::before {

      border: $borderWidth solid transparent;

    }

    &:hover::before {

      border-top-color: $borderColor;
      border-right-color: $borderColor;
      border-bottom-color: $borderColor;
      transition: border-top-color 0.15s linear,
      border-right-color 0.15s linear 0.10s,
      border-bottom-color 0.15s linear 0.20s;

    }

    &::after {

      border: 0 solid transparent;

    }

    &:hover::after {

      border-top: 2px solid $borderColor;
      border-left-width: 2px;
      border-right-width: 2px;
      transform: rotate(270deg);
      transition: transform 0.4s linear 0s,
      border-left-width 0s linear 0.35s;

    }

    // end spin class

    border-radius: 100%;
    box-shadow: none;

    &::before,
    &::after {

      border-radius: 100%;

    }

  }

  @if $animation == "spin thick" {

    // start spin class

    width: 5em;
    height: 5em;
    padding: 0;

    &:hover {

      color: $borderColor;

    }

    &::before,
    &::after {

      top: 0;
      left: 0;

    }

    &::before {

      border: $borderWidth solid transparent;

    }

    &:hover::before {

      border-top-color: $borderColor;
      border-right-color: $borderColor;
      border-bottom-color: $borderColor;
      transition: border-top-color 0.15s linear,
      border-right-color 0.15s linear 0.10s,
      border-bottom-color 0.15s linear 0.20s;

    }

    &::after {

      border: 0 solid transparent;

    }

    &:hover::after {

      border-top: 2px solid $borderColor;
      border-left-width: 2px;
      border-right-width: 2px;
      transform: rotate(270deg);
      transition: transform 0.4s linear 0s,
      border-left-width 0s linear 0.35s;

    }

    // end spin class

    color: $borderColor;

    &:hover {

      color: #fff;
      font-weight: 700;

    }

    &::before {

      border: 2.5em solid transparent;
      z-index: -1;

    }

    &::after {

      mix-blend-mode: color-dodge;
      z-index: -1;

    }

    &:hover::before {

      background: $borderColor;
      border-top-color: $borderColor;
      border-right-color: $borderColor;
      border-bottom-color: $borderColor;
      transition: background 0s linear 0.4s,
      border-top-color 0.15s linear,
      border-right-color 0.15s linear 0.15s,
      border-bottom-color 0.15s linear $animationSpeed;

    }

    &:hover::after {

      border-top: 2.5em solid $borderColor;
      border-left-width: 2.5em;
      border-right-width: 2.5em;

    }

  }

}

// endregion