@import "common";
@import "animations";
@import "generators";

.cursor-pointer {

  cursor: pointer;

}

.flex-1 {

  flex: 1 !important;

}

.flex-2 {

  flex: 2 !important;

}

.flex-align-bottom {

  align-self: flex-end !important;

}

.flex-align-items-center {

  align-items: center !important;

}

.flex-button {

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .button-caption {

    flex-grow: 2;

  }

  i {

    flex-grow: 0;
    margin-left: 0.5rem;

  }

}

.flex-container {

  display: flex;

}

.flex-container-row {

  display: flex;
  flex-direction: row;

}

.flex-container-vertical-center {

  display: flex;
  align-items: center;

}

.flex-end {

  align-self: flex-end;

}

.flex-grow-0 {

  flex-grow: 0;

}

.flex-grow-1 {

  flex-grow: 1;

}

.flex-grow-2 {

  flex-grow: 2;

}

.flex-inline-container {

  display: flex;
  flex-direction: row;

  > :not(:last-child) {

    flex-grow: 0;

  }

  > :last-child {

    flex-grow: 2;

  }

}

.flex-stacked-container {

  display: flex;
  flex-direction: column;

}

.flex-start {

  align-self: flex-start;

}

.flex-two-panel-layout {

  display: flex;
  flex-direction: row;

  div {

    &.flex-expand {

      flex-grow: 2;

    }

    &.flex-contract {

      flex-grow: 0;

    }

  }

}

.flex-panel-layout {

  display: flex;
  flex-direction: row;

  div {

    &.flex {

      flex: 1;

    }

    &.flex-expand {

      flex-grow: 2;

    }

    &.flex-contract {

      flex-grow: 0;

    }

  }

}

.font-w-300 {

  font-weight: 300;

}

.font-w-400 {

  font-weight: 300;

}

.font-w-500 {

  font-weight: 500;

}

.font-w-600 {

  font-weight: 600;

}

.list-decimal {

  list-style: decimal;

}

.list-decimal-inside {

  list-style: decimal inside;

}

.list-decimal-leading-0 {

  list-style: decimal-leading-zero;

}

.list-lower-alpha {

  list-style: lower-alpha;

}

.list-upper-alpha {

  list-style: upper-alpha;

}

.text-uppercase {

  text-transform: uppercase;

}

.text-lowercase {

  text-transform: lowercase;

}

.text-capitalize {

  text-transform: capitalize;

}

.ul-inline {

  margin-bottom: 0;
  padding: 0;

  li {

    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;

  }

}