*:focus {

  outline: none;

}

a {

  text-decoration: none;

  &:hover {

    cursor: pointer;
    cursor: hand;

  }

  &:visited, &:hover, &:active {

    text-decoration: none;

  }

}

.float-left {

  float: left;

}

.float-right {

  float: right;

}

.input-field-search {

  .material-search-icon {

    position: absolute;
    line-height: 45px;
    margin-left: 10px;

  }

  input {

    height: 45px;
    padding-left: 45px;

  }

}

.flip-horizontal {

  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  -ms-filter: "FlipH";

}

.flip-vertical {

  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  -ms-filter: "FlipV";

}

.flip-horizontal-vertical {

  -moz-transform: scale(-1, -1);
  -o-transform: scale(-1, -1);
  -webkit-transform: scale(-1, -1);
  transform: scale(-1, -1);

}

.overflow-hidden {

  overflow: hidden;

}

.margin-0 {

  &.row {

    margin: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;

  }

}

.horizontal-center {

  margin-left: auto !important;
  margin-right: auto !important;

}
