@import "mixins";
@import "variables";

@mixin generateBorder($direction) {

  @if $direction == "none" {

    border: none;

  } @else if $direction == "all" {

    border: 1px solid black;

  } @else {

    border-#{$direction}: 1px solid black;

  }

}

@mixin generateDirectionGutter($direction, $amount) {

  padding-#{$direction}: #{$amount} !important;

  > [class*='col-'] {

    padding-#{$direction}: #{$amount} !important;

  }

}

@mixin generateFontSize($size) {

  font-size: #{$size+'px'};

}

@mixin generateGutter($amount) {

  padding-right: #{$amount} !important;
  padding-left: #{$amount} !important;

  > [class*='col'] {

    padding-right: #{$amount} !important;
    padding-left: #{$amount} !important;

  }

}

@mixin generateMargin($direction, $amount) {

  @if $direction == null {

    margin: $amount;

  } @else {

    margin-#{$direction}: #{$amount} !important;

  }

}

@mixin generatePadding($direction, $amount) {

  @if $direction == null {

    padding: $amount !important;

  } @else {

    padding-#{$direction}: #{$amount} !important;

  }

}

@mixin generateWidth($amount) {

  width: #{$amount+'%'} !important;

}

@each $border in $borders {

  .border- {

    &#{$border} {

      @include generateBorder(#{$border});

    }

  }

}

@each $fontSize in $font-sizes {

  $fontIndex: index($font-sizes, $fontSize);

  .font-size- {

    &#{$fontIndex} {

      @include generateFontSize(#{$fontSize});

    }

  }

}

@each $gutter in $gutters {

  .gutter- {

    &#{$gutter} {

      @include generateGutter(#{$gutter}px);

    }

    &right-#{$gutter} {

      @include generateDirectionGutter('right', #{$gutter}px);

    }

    &left-#{$gutter} {

      @include generateDirectionGutter('left', #{$gutter}px);

    }

  }

}

@each $gutter in $gutterRems {

  .gutter- {

    &#{$gutter + '-rem'} {

      @include generateGutter(#{$gutter}rem);

    }

    &right-#{$gutter + '-rem'} {

      @include generateDirectionGutter('right', #{$gutter}rem);

    }

    &left-#{$gutter + '-rem'} {

      @include generateDirectionGutter('left', #{$gutter}rem);

    }

  }

}

@each $margin in $margins {

  .margin- {

    &#{$margin} {

      @include generateMargin(null, #{$margin}px);

    }

  }

  .margin- {

    &top-#{$margin} {

      @include generateMargin("top", #{$margin}px);

    }

    &right-#{$margin} {

      @include generateMargin("right", #{$margin}px);

    }

    &bottom-#{$margin} {

      @include generateMargin("bottom", #{$margin}px);

    }

    &left-#{$margin} {

      @include generateMargin("left", #{$margin}px);

    }

  }

}

@each $margin in $marginRems {

  .margin- {

    &#{$margin + "-rem"} {

      @include generateMargin(null, #{$margin}rem);

    }

  }

  .margin- {

    &top-#{$margin + "-rem"} {

      @include generateMargin("top", #{$margin}rem);

    }

    &right-#{$margin + "-rem"} {

      @include generateMargin("right", #{$margin}rem);

    }

    &bottom-#{$margin + "-rem"} {

      @include generateMargin("bottom", #{$margin}rem);

    }

    &left-#{$margin + "-rem"} {

      @include generateMargin("left", #{$margin}rem);

    }

  }

}

@each $mobilePadding in $mobile-paddings {

  .mobile-padding- {

    &top-#{$mobilePadding} {

      @include generatePadding("top", #{$mobilePadding}px);

    }

    &right-#{$mobilePadding} {

      @include generatePadding("right", #{$mobilePadding}px);

    }

    &bottom-#{$mobilePadding} {

      @include generatePadding("bottom", #{$mobilePadding}px);

    }

    &left-#{$mobilePadding} {

      @include generatePadding("left", #{$mobilePadding}px);

    }

  }

}

@each $padding in $paddings {

  .padding- {

    &#{$padding} {

      @include generatePadding(null, #{$padding}px);

    }

  }

  .padding- {

    @include generatePadding(null, #{$padding}px);

    &top-#{$padding} {

      @include generatePadding("top", #{$padding}px);

    }

    &right-#{$padding} {

      @include generatePadding("right", #{$padding}px);

    }

    &bottom-#{$padding} {

      @include generatePadding("bottom", #{$padding}px);

    }

    &left-#{$padding} {

      @include generatePadding("left", #{$padding}px);

    }

  }

}

@each $padding in $paddingRems {

  .padding- {

    &#{$padding + '-rem'} {

      @include generatePadding(null, #{$padding}rem);

    }

  }

  .padding- {

    @include generatePadding(null, #{$padding}rem);

    &top-#{$padding + '-rem'} {

      @include generatePadding("top", #{$padding}rem);

    }

    &right-#{$padding + '-rem'} {

      @include generatePadding("right", #{$padding}rem);

    }

    &bottom-#{$padding + '-rem'} {

      @include generatePadding("bottom", #{$padding}rem);

    }

    &left-#{$padding + '-rem'} {

      @include generatePadding("left", #{$padding}rem);

    }

  }

}

@each $width in $widths {

  .width- {

    &#{$width} {

      @include generateWidth(#{$width});

    }

  }

}
