@import "variables";

// region Utility Functions

@function stripUnit($number) {

  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;

}

// endregion

// region Functions

@function pxToRem($size) {

  $remSize: $size / $base-font-size;
  @return #{$remSize}rem;

}

// endregion

// region Mixins

@mixin border-radius($radius) {

  -webkit-border-radius: $radius !important;
  -moz-border-radius: $radius !important;
  -ms-border-radius: $radius !important;
  border-radius: $radius !important;

}

@mixin border-radius-bottom($radius) {

  -webkit-border-bottom-right-radius: $radius !important;
  -webkit-border-bottom-left-radius: $radius !important;
  -moz-border-radius-bottomright: $radius !important;
  -moz-border-radius-bottomleft: $radius !important;
  border-bottom-right-radius: $radius !important;
  border-bottom-left-radius: $radius !important;

}

@mixin border-radius-bottom-left($radius) {

  -webkit-border-bottom-left-radius: $radius !important;
  -moz-border-radius-bottomleft: $radius !important;
  border-bottom-left-radius: $radius !important;

}

@mixin border-radius-bottom-right($radius) {

  -webkit-border-bottom-right-radius: $radius !important;
  -moz-border-radius-bottomright: $radius !important;
  border-bottom-right-radius: $radius !important;

}

@mixin border-radius-left($radius) {

  -webkit-border-top-left-radius: $radius !important;
  -webkit-border-bottom-left-radius: $radius !important;
  -moz-border-radius-topleft: $radius !important;
  -moz-border-radius-bottomleft: $radius !important;
  border-top-left-radius: $radius !important;
  border-bottom-left-radius: $radius !important;

}

@mixin border-radius-right($radius) {

  -webkit-border-top-right-radius: $radius !important;
  -webkit-border-bottom-right-radius: $radius !important;
  -moz-border-radius-topright: $radius !important;
  -moz-border-radius-bottomright: $radius !important;
  border-top-right-radius: $radius !important;
  border-bottom-right-radius: $radius !important;

}

@mixin border-radius-top($radius) {

  -webkit-border-top-left-radius: $radius !important;
  -webkit-border-top-right-radius: $radius !important;
  -moz-border-radius-topleft: $radius !important;
  -moz-border-radius-topright: $radius !important;
  border-top-left-radius: $radius !important;
  border-top-right-radius: $radius !important;

}

@mixin border-radius-top-left($radius) {

  -webkit-border-top-left-radius: $radius !important;
  -moz-border-radius-topleft: $radius !important;
  border-top-left-radius: $radius !important;

}

@mixin border-radius-top-right($radius) {

  -webkit-border-top-right-radius: $radius !important;
  -moz-border-radius-topright: $radius !important;
  border-top-right-radius: $radius !important;

}

@mixin bottom-arrow($size, $arrowColor) {

  position: relative;
  background: #88b7d5;

  &:after {

    top: 100%;
    left: 50%;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border: solid transparent;
    border-color: rgba(136, 183, 213, 0);
    border-top-color: $arrowColor;
    border-width: $size;
    margin-left: -$size;

  }

}

@mixin center-page() {

  margin: 0 auto;

}

@mixin fontSize($size) {

  @if $size == null {

    font-size: $base-font-size; //Fallback in px
    font-size: pxToRem($base-font-size);

  } @else {

    font-size: $size; //Fallback in px
    font-size: pxToRem($size);

  }

}

@mixin content-center($horizontal: true, $vertical: true) {

  position: absolute;
  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else if ($horizontal) {
    left: 50%;
    transform: translate(-50%, 0);
  } @else if ($vertical) {
    top: 50%;
    transform: translate(0, -50%);
  }

}

@mixin fontSizeRem($sizeInRem) {

  @if $sizeInRem == null {

    font-size: $base-font-size; //Fallback in px
    font-size: pxToRem($base-font-size);

  } @else {

    font-size: $base-font-size * stripUnit($sizeInRem); //Fallback in px
    font-size: pxToRem($base-font-size * stripUnit($sizeInRem));

  }

}

@mixin no-box-shadow {

  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;

}

@mixin no-browser-appearance {

  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;

}

@mixin no-text-shadow {

  text-shadow: none;

}

@mixin placeholder-color($color) {

  &::-webkit-input-placeholder {

    color: $color !important;

  }

  &:-moz-placeholder {

    color: $color !important;

  }

  &::-moz-placeholder {

    color: $color !important;

  }

  &:-ms-input-placeholder {

    color: $color !important;

  }

}

@mixin placeholder-font-family($font-family) {

  &::-webkit-input-placeholder {

    font-family: $font-family !important;

  }

  &:-moz-placeholder {

    font-family: $font-family !important;

  }

  &::-moz-placeholder {

    font-family: $font-family !important;

  }

  &:-ms-input-placeholder {

    font-family: $font-family !important;

  }

}

@mixin placeholder-font-weight($font-weight) {

  &::-webkit-input-placeholder {

    font-weight: $font-weight !important;

  }

  &:-moz-placeholder {

    font-weight: $font-weight !important;

  }

  &::-moz-placeholder {

    font-weight: $font-weight !important;

  }

  &:-ms-input-placeholder {

    font-weight: $font-weight !important;

  }

}

// endregion
