$borders: ("none", "all", "top", "right", "bottom", "left");
$font-sizes: (12, 16, 18, 25, 30, 55);
$gutters: (0, 5, 10, 15);
$gutterRems: (1, 2, 3, 4, 5);
$margins: (0, 5, 10, 15, 20, 30, 40, 50, 60);
$marginRems: (1, 2, 3, 4, 5);
$mobile-paddings: (0, 5, 10, 15);
$paddings: (0, 5, 10, 15, 20, 30, 40, 50, 60);
$paddingRems: (1, 2, 3, 4, 5);
$widths: (0, 25, 50, 100);
$base-font-size: 16px;