*:focus {
  outline: none; }

a {
  text-decoration: none; }
  a:hover {
    cursor: pointer;
    cursor: hand; }
  a:visited, a:hover, a:active {
    text-decoration: none; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.input-field-search .material-search-icon {
  position: absolute;
  line-height: 45px;
  margin-left: 10px; }
.input-field-search input {
  height: 45px;
  padding-left: 45px; }

.flip-horizontal {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  -ms-filter: "FlipH"; }

.flip-vertical {
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  -ms-filter: "FlipV"; }

.flip-horizontal-vertical {
  -moz-transform: scale(-1, -1);
  -o-transform: scale(-1, -1);
  -webkit-transform: scale(-1, -1);
  transform: scale(-1, -1); }

.overflow-hidden {
  overflow: hidden; }

.margin-0.row {
  margin: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0; }

.horizontal-center {
  margin-left: auto !important;
  margin-right: auto !important; }

/*
* Compliments to: https://codepen.io/giana/pen/yYBpVY?editors=0100#0
*/
.border-none {
  border: none; }

.border-all {
  border: 1px solid black; }

.border-top {
  border-top: 1px solid black; }

.border-right {
  border-right: 1px solid black; }

.border-bottom {
  border-bottom: 1px solid black; }

.border-left {
  border-left: 1px solid black; }

.font-size-1 {
  font-size: 12px; }

.font-size-2 {
  font-size: 16px; }

.font-size-3 {
  font-size: 18px; }

.font-size-4 {
  font-size: 25px; }

.font-size-5 {
  font-size: 30px; }

.font-size-6 {
  font-size: 55px; }

.gutter-0 {
  padding-right: 0px !important;
  padding-left: 0px !important; }
  .gutter-0 > [class*='col'] {
    padding-right: 0px !important;
    padding-left: 0px !important; }
.gutter-right-0 {
  padding-right: 0px !important; }
  .gutter-right-0 > [class*='col-'] {
    padding-right: 0px !important; }
.gutter-left-0 {
  padding-left: 0px !important; }
  .gutter-left-0 > [class*='col-'] {
    padding-left: 0px !important; }

.gutter-5 {
  padding-right: 5px !important;
  padding-left: 5px !important; }
  .gutter-5 > [class*='col'] {
    padding-right: 5px !important;
    padding-left: 5px !important; }
.gutter-right-5 {
  padding-right: 5px !important; }
  .gutter-right-5 > [class*='col-'] {
    padding-right: 5px !important; }
.gutter-left-5 {
  padding-left: 5px !important; }
  .gutter-left-5 > [class*='col-'] {
    padding-left: 5px !important; }

.gutter-10 {
  padding-right: 10px !important;
  padding-left: 10px !important; }
  .gutter-10 > [class*='col'] {
    padding-right: 10px !important;
    padding-left: 10px !important; }
.gutter-right-10 {
  padding-right: 10px !important; }
  .gutter-right-10 > [class*='col-'] {
    padding-right: 10px !important; }
.gutter-left-10 {
  padding-left: 10px !important; }
  .gutter-left-10 > [class*='col-'] {
    padding-left: 10px !important; }

.gutter-15 {
  padding-right: 15px !important;
  padding-left: 15px !important; }
  .gutter-15 > [class*='col'] {
    padding-right: 15px !important;
    padding-left: 15px !important; }
.gutter-right-15 {
  padding-right: 15px !important; }
  .gutter-right-15 > [class*='col-'] {
    padding-right: 15px !important; }
.gutter-left-15 {
  padding-left: 15px !important; }
  .gutter-left-15 > [class*='col-'] {
    padding-left: 15px !important; }

.gutter-1-rem {
  padding-right: 1rem !important;
  padding-left: 1rem !important; }
  .gutter-1-rem > [class*='col'] {
    padding-right: 1rem !important;
    padding-left: 1rem !important; }
.gutter-right-1-rem {
  padding-right: 1rem !important; }
  .gutter-right-1-rem > [class*='col-'] {
    padding-right: 1rem !important; }
.gutter-left-1-rem {
  padding-left: 1rem !important; }
  .gutter-left-1-rem > [class*='col-'] {
    padding-left: 1rem !important; }

.gutter-2-rem {
  padding-right: 2rem !important;
  padding-left: 2rem !important; }
  .gutter-2-rem > [class*='col'] {
    padding-right: 2rem !important;
    padding-left: 2rem !important; }
.gutter-right-2-rem {
  padding-right: 2rem !important; }
  .gutter-right-2-rem > [class*='col-'] {
    padding-right: 2rem !important; }
.gutter-left-2-rem {
  padding-left: 2rem !important; }
  .gutter-left-2-rem > [class*='col-'] {
    padding-left: 2rem !important; }

.gutter-3-rem {
  padding-right: 3rem !important;
  padding-left: 3rem !important; }
  .gutter-3-rem > [class*='col'] {
    padding-right: 3rem !important;
    padding-left: 3rem !important; }
.gutter-right-3-rem {
  padding-right: 3rem !important; }
  .gutter-right-3-rem > [class*='col-'] {
    padding-right: 3rem !important; }
.gutter-left-3-rem {
  padding-left: 3rem !important; }
  .gutter-left-3-rem > [class*='col-'] {
    padding-left: 3rem !important; }

.gutter-4-rem {
  padding-right: 4rem !important;
  padding-left: 4rem !important; }
  .gutter-4-rem > [class*='col'] {
    padding-right: 4rem !important;
    padding-left: 4rem !important; }
.gutter-right-4-rem {
  padding-right: 4rem !important; }
  .gutter-right-4-rem > [class*='col-'] {
    padding-right: 4rem !important; }
.gutter-left-4-rem {
  padding-left: 4rem !important; }
  .gutter-left-4-rem > [class*='col-'] {
    padding-left: 4rem !important; }

.gutter-5-rem {
  padding-right: 5rem !important;
  padding-left: 5rem !important; }
  .gutter-5-rem > [class*='col'] {
    padding-right: 5rem !important;
    padding-left: 5rem !important; }
.gutter-right-5-rem {
  padding-right: 5rem !important; }
  .gutter-right-5-rem > [class*='col-'] {
    padding-right: 5rem !important; }
.gutter-left-5-rem {
  padding-left: 5rem !important; }
  .gutter-left-5-rem > [class*='col-'] {
    padding-left: 5rem !important; }

.margin-0 {
  margin: 0px; }

.margin-top-0 {
  margin-top: 0px !important; }
.margin-right-0 {
  margin-right: 0px !important; }
.margin-bottom-0 {
  margin-bottom: 0px !important; }
.margin-left-0 {
  margin-left: 0px !important; }

.margin-5 {
  margin: 5px; }

.margin-top-5 {
  margin-top: 5px !important; }
.margin-right-5 {
  margin-right: 5px !important; }
.margin-bottom-5 {
  margin-bottom: 5px !important; }
.margin-left-5 {
  margin-left: 5px !important; }

.margin-10 {
  margin: 10px; }

.margin-top-10 {
  margin-top: 10px !important; }
.margin-right-10 {
  margin-right: 10px !important; }
.margin-bottom-10 {
  margin-bottom: 10px !important; }
.margin-left-10 {
  margin-left: 10px !important; }

.margin-15 {
  margin: 15px; }

.margin-top-15 {
  margin-top: 15px !important; }
.margin-right-15 {
  margin-right: 15px !important; }
.margin-bottom-15 {
  margin-bottom: 15px !important; }
.margin-left-15 {
  margin-left: 15px !important; }

.margin-20 {
  margin: 20px; }

.margin-top-20 {
  margin-top: 20px !important; }
.margin-right-20 {
  margin-right: 20px !important; }
.margin-bottom-20 {
  margin-bottom: 20px !important; }
.margin-left-20 {
  margin-left: 20px !important; }

.margin-30 {
  margin: 30px; }

.margin-top-30 {
  margin-top: 30px !important; }
.margin-right-30 {
  margin-right: 30px !important; }
.margin-bottom-30 {
  margin-bottom: 30px !important; }
.margin-left-30 {
  margin-left: 30px !important; }

.margin-40 {
  margin: 40px; }

.margin-top-40 {
  margin-top: 40px !important; }
.margin-right-40 {
  margin-right: 40px !important; }
.margin-bottom-40 {
  margin-bottom: 40px !important; }
.margin-left-40 {
  margin-left: 40px !important; }

.margin-50 {
  margin: 50px; }

.margin-top-50 {
  margin-top: 50px !important; }
.margin-right-50 {
  margin-right: 50px !important; }
.margin-bottom-50 {
  margin-bottom: 50px !important; }
.margin-left-50 {
  margin-left: 50px !important; }

.margin-60 {
  margin: 60px; }

.margin-top-60 {
  margin-top: 60px !important; }
.margin-right-60 {
  margin-right: 60px !important; }
.margin-bottom-60 {
  margin-bottom: 60px !important; }
.margin-left-60 {
  margin-left: 60px !important; }

.margin-1-rem {
  margin: 1rem; }

.margin-top-1-rem {
  margin-top: 1rem !important; }
.margin-right-1-rem {
  margin-right: 1rem !important; }
.margin-bottom-1-rem {
  margin-bottom: 1rem !important; }
.margin-left-1-rem {
  margin-left: 1rem !important; }

.margin-2-rem {
  margin: 2rem; }

.margin-top-2-rem {
  margin-top: 2rem !important; }
.margin-right-2-rem {
  margin-right: 2rem !important; }
.margin-bottom-2-rem {
  margin-bottom: 2rem !important; }
.margin-left-2-rem {
  margin-left: 2rem !important; }

.margin-3-rem {
  margin: 3rem; }

.margin-top-3-rem {
  margin-top: 3rem !important; }
.margin-right-3-rem {
  margin-right: 3rem !important; }
.margin-bottom-3-rem {
  margin-bottom: 3rem !important; }
.margin-left-3-rem {
  margin-left: 3rem !important; }

.margin-4-rem {
  margin: 4rem; }

.margin-top-4-rem {
  margin-top: 4rem !important; }
.margin-right-4-rem {
  margin-right: 4rem !important; }
.margin-bottom-4-rem {
  margin-bottom: 4rem !important; }
.margin-left-4-rem {
  margin-left: 4rem !important; }

.margin-5-rem {
  margin: 5rem; }

.margin-top-5-rem {
  margin-top: 5rem !important; }
.margin-right-5-rem {
  margin-right: 5rem !important; }
.margin-bottom-5-rem {
  margin-bottom: 5rem !important; }
.margin-left-5-rem {
  margin-left: 5rem !important; }

.mobile-padding-top-0 {
  padding-top: 0px !important; }
.mobile-padding-right-0 {
  padding-right: 0px !important; }
.mobile-padding-bottom-0 {
  padding-bottom: 0px !important; }
.mobile-padding-left-0 {
  padding-left: 0px !important; }

.mobile-padding-top-5 {
  padding-top: 5px !important; }
.mobile-padding-right-5 {
  padding-right: 5px !important; }
.mobile-padding-bottom-5 {
  padding-bottom: 5px !important; }
.mobile-padding-left-5 {
  padding-left: 5px !important; }

.mobile-padding-top-10 {
  padding-top: 10px !important; }
.mobile-padding-right-10 {
  padding-right: 10px !important; }
.mobile-padding-bottom-10 {
  padding-bottom: 10px !important; }
.mobile-padding-left-10 {
  padding-left: 10px !important; }

.mobile-padding-top-15 {
  padding-top: 15px !important; }
.mobile-padding-right-15 {
  padding-right: 15px !important; }
.mobile-padding-bottom-15 {
  padding-bottom: 15px !important; }
.mobile-padding-left-15 {
  padding-left: 15px !important; }

.padding-0 {
  padding: 0px !important; }

.padding- {
  padding: 0px !important; }
  .padding-top-0 {
    padding-top: 0px !important; }
  .padding-right-0 {
    padding-right: 0px !important; }
  .padding-bottom-0 {
    padding-bottom: 0px !important; }
  .padding-left-0 {
    padding-left: 0px !important; }

.padding-5 {
  padding: 5px !important; }

.padding- {
  padding: 5px !important; }
  .padding-top-5 {
    padding-top: 5px !important; }
  .padding-right-5 {
    padding-right: 5px !important; }
  .padding-bottom-5 {
    padding-bottom: 5px !important; }
  .padding-left-5 {
    padding-left: 5px !important; }

.padding-10 {
  padding: 10px !important; }

.padding- {
  padding: 10px !important; }
  .padding-top-10 {
    padding-top: 10px !important; }
  .padding-right-10 {
    padding-right: 10px !important; }
  .padding-bottom-10 {
    padding-bottom: 10px !important; }
  .padding-left-10 {
    padding-left: 10px !important; }

.padding-15 {
  padding: 15px !important; }

.padding- {
  padding: 15px !important; }
  .padding-top-15 {
    padding-top: 15px !important; }
  .padding-right-15 {
    padding-right: 15px !important; }
  .padding-bottom-15 {
    padding-bottom: 15px !important; }
  .padding-left-15 {
    padding-left: 15px !important; }

.padding-20 {
  padding: 20px !important; }

.padding- {
  padding: 20px !important; }
  .padding-top-20 {
    padding-top: 20px !important; }
  .padding-right-20 {
    padding-right: 20px !important; }
  .padding-bottom-20 {
    padding-bottom: 20px !important; }
  .padding-left-20 {
    padding-left: 20px !important; }

.padding-30 {
  padding: 30px !important; }

.padding- {
  padding: 30px !important; }
  .padding-top-30 {
    padding-top: 30px !important; }
  .padding-right-30 {
    padding-right: 30px !important; }
  .padding-bottom-30 {
    padding-bottom: 30px !important; }
  .padding-left-30 {
    padding-left: 30px !important; }

.padding-40 {
  padding: 40px !important; }

.padding- {
  padding: 40px !important; }
  .padding-top-40 {
    padding-top: 40px !important; }
  .padding-right-40 {
    padding-right: 40px !important; }
  .padding-bottom-40 {
    padding-bottom: 40px !important; }
  .padding-left-40 {
    padding-left: 40px !important; }

.padding-50 {
  padding: 50px !important; }

.padding- {
  padding: 50px !important; }
  .padding-top-50 {
    padding-top: 50px !important; }
  .padding-right-50 {
    padding-right: 50px !important; }
  .padding-bottom-50 {
    padding-bottom: 50px !important; }
  .padding-left-50 {
    padding-left: 50px !important; }

.padding-60 {
  padding: 60px !important; }

.padding- {
  padding: 60px !important; }
  .padding-top-60 {
    padding-top: 60px !important; }
  .padding-right-60 {
    padding-right: 60px !important; }
  .padding-bottom-60 {
    padding-bottom: 60px !important; }
  .padding-left-60 {
    padding-left: 60px !important; }

.padding-1-rem {
  padding: 1rem !important; }

.padding- {
  padding: 1rem !important; }
  .padding-top-1-rem {
    padding-top: 1rem !important; }
  .padding-right-1-rem {
    padding-right: 1rem !important; }
  .padding-bottom-1-rem {
    padding-bottom: 1rem !important; }
  .padding-left-1-rem {
    padding-left: 1rem !important; }

.padding-2-rem {
  padding: 2rem !important; }

.padding- {
  padding: 2rem !important; }
  .padding-top-2-rem {
    padding-top: 2rem !important; }
  .padding-right-2-rem {
    padding-right: 2rem !important; }
  .padding-bottom-2-rem {
    padding-bottom: 2rem !important; }
  .padding-left-2-rem {
    padding-left: 2rem !important; }

.padding-3-rem {
  padding: 3rem !important; }

.padding- {
  padding: 3rem !important; }
  .padding-top-3-rem {
    padding-top: 3rem !important; }
  .padding-right-3-rem {
    padding-right: 3rem !important; }
  .padding-bottom-3-rem {
    padding-bottom: 3rem !important; }
  .padding-left-3-rem {
    padding-left: 3rem !important; }

.padding-4-rem {
  padding: 4rem !important; }

.padding- {
  padding: 4rem !important; }
  .padding-top-4-rem {
    padding-top: 4rem !important; }
  .padding-right-4-rem {
    padding-right: 4rem !important; }
  .padding-bottom-4-rem {
    padding-bottom: 4rem !important; }
  .padding-left-4-rem {
    padding-left: 4rem !important; }

.padding-5-rem {
  padding: 5rem !important; }

.padding- {
  padding: 5rem !important; }
  .padding-top-5-rem {
    padding-top: 5rem !important; }
  .padding-right-5-rem {
    padding-right: 5rem !important; }
  .padding-bottom-5-rem {
    padding-bottom: 5rem !important; }
  .padding-left-5-rem {
    padding-left: 5rem !important; }

.width-0 {
  width: 0% !important; }

.width-25 {
  width: 25% !important; }

.width-50 {
  width: 50% !important; }

.width-100 {
  width: 100% !important; }

.cursor-pointer {
  cursor: pointer; }

.flex-1 {
  flex: 1 !important; }

.flex-2 {
  flex: 2 !important; }

.flex-align-bottom {
  align-self: flex-end !important; }

.flex-align-items-center {
  align-items: center !important; }

.flex-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .flex-button .button-caption {
    flex-grow: 2; }
  .flex-button i {
    flex-grow: 0;
    margin-left: 0.5rem; }

.flex-container {
  display: flex; }

.flex-container-row {
  display: flex;
  flex-direction: row; }

.flex-container-vertical-center {
  display: flex;
  align-items: center; }

.flex-end {
  align-self: flex-end; }

.flex-grow-0 {
  flex-grow: 0; }

.flex-grow-1 {
  flex-grow: 1; }

.flex-grow-2 {
  flex-grow: 2; }

.flex-inline-container {
  display: flex;
  flex-direction: row; }
  .flex-inline-container > :not(:last-child) {
    flex-grow: 0; }
  .flex-inline-container > :last-child {
    flex-grow: 2; }

.flex-stacked-container {
  display: flex;
  flex-direction: column; }

.flex-start {
  align-self: flex-start; }

.flex-two-panel-layout {
  display: flex;
  flex-direction: row; }
  .flex-two-panel-layout div.flex-expand {
    flex-grow: 2; }
  .flex-two-panel-layout div.flex-contract {
    flex-grow: 0; }

.flex-panel-layout {
  display: flex;
  flex-direction: row; }
  .flex-panel-layout div.flex {
    flex: 1; }
  .flex-panel-layout div.flex-expand {
    flex-grow: 2; }
  .flex-panel-layout div.flex-contract {
    flex-grow: 0; }

.font-w-300 {
  font-weight: 300; }

.font-w-400 {
  font-weight: 300; }

.font-w-500 {
  font-weight: 500; }

.font-w-600 {
  font-weight: 600; }

.list-decimal {
  list-style: decimal; }

.list-decimal-inside {
  list-style: decimal inside; }

.list-decimal-leading-0 {
  list-style: decimal-leading-zero; }

.list-lower-alpha {
  list-style: lower-alpha; }

.list-upper-alpha {
  list-style: upper-alpha; }

.text-uppercase {
  text-transform: uppercase; }

.text-lowercase {
  text-transform: lowercase; }

.text-capitalize {
  text-transform: capitalize; }

.ul-inline {
  margin-bottom: 0;
  padding: 0; }
  .ul-inline li {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem; }

/*# sourceMappingURL=awesomesauce.css.map */
